---
 const personalImageAlt = "Ivan Suero"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I am Ivan. I studied a double degree in <strong>Business Administration and Development of Web and Mobile Applications</strong>. I have experience in business analytics and in developing applications for internal use.
    </p>

    <p>
      I love web design and data analysis. Currently, I am deepening in <strong>Power Bi</strong> and learning <strong>Tableau</strong>.
    </p>
  </div>
</article>